.footer-container {
    min-height: 50px;
    width: 100%;
    background:
        linear-gradient(rgba(135, 60, 255, 0.4), rgba(135, 60, 255, 0.0) 80%),
        linear-gradient(-45deg, rgba(120, 155, 255, 0.9) 25%, rgba(255, 160, 65, 0.9) 75%);
    border-radius: 10px 10px 0 0;
    position: fixed;
    left: 0;
    bottom: 0;
    color: #fff;
    z-index: 1;
}

.footer-btn {
    padding: 0 20px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-radius: 4px;
    height: 32px;
    width: 150px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background-color: #3775dd;
    box-shadow: 0 2px #21487f;
    cursor: pointer;
}

.footer-btn:focus-visible {
    box-shadow: 0 0 0 3px lightskyblue;
}

.footer-btn:hover {
    background-color: #002fed;
}

.footer-btn:active {
    background-color: #2f599e;
}

.footer-btn:disabled {
    background-color: gray;
    cursor: default;
}